<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="IHF Application Error log" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" filter="Error" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Error" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="IHF Application Exception">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="Ora" />
  <connectionStrings configSource="App_data\ConnectionStrings.xml"/>
  <!--<add name="Ora" connectionString="Data source = OMSDEV; user id = itir; password = itir" providerName="Oracle.DataAccess.Client" />-->
  <!--</connectionStrings>-->
  <system.web>


    <customErrors defaultRedirect="~/Pages/Error.aspx" mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/pages/login.aspx" defaultUrl="~/pages/home.aspx" timeout="200" slidingExpiration="true" />
    </authentication>

    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>



    <roleManager defaultProvider="IHFRoleProvider" enabled="true">
      <providers>
        <add name="IHFRoleProvider"
             type="IHF.Security.UserManagement.IHFRoleProvider, IHF.Security.UserManagement, Version=1.0.0.0"
             applicationName="IHF" />
      </providers>
    </roleManager>

    <membership defaultProvider="IHFMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add
          name="IHFMembershipProvider"
          type="IHF.Security.UserManagement.IHFMembershipProvider, IHF.Security.UserManagement, Version=1.0.0.0"
          applicationName="IHF" />
      </providers>
    </membership>

    <siteMap defaultProvider="IHFSitemapProvider" enabled="true">
      <providers>
        <add
          name="IHFSitemapProvider"
          type="IHF.Security.UserManagement.IHFSitemapProvider, IHF.Security.UserManagement, Version=1.0.0.0"
          applicationName="IHF"
          securityTrimmingEnabled="false" />
        <add
          name="IHFDASHSitemapProvider"
          type="IHF.Security.UserManagement.IHFSitemapProvider, IHF.Security.UserManagement, Version=1.0.0.0"
          applicationName="IHFDSH"
          securityTrimmingEnabled="false" />
      </providers>
    </siteMap>

    
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <!--<compilation debug="true" />-->
    <httpHandlers>
      <add
        path="Telerik.Web.UI.WebResource.axd"
        type="Telerik.Web.UI.WebResource"
        verb="*"
        validate="false" />
    </httpHandlers>
    <httpModules>
      <add
        name="IHFNavigationHttpModule"
        type="IHF.Security.UserManagement.IHFNavigationHttpModule, IHF.Security.UserManagement, Version=1.0.0.0" />
      <add
        name="IHFUserAccessHttpModule"
        type="IHF.Security.UserManagement.IHFUserAccessHttpModule, IHF.Security.UserManagement, Version=1.0.0.0" />
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add
        name="Telerik_Web_UI_WebResource_axd"
        verb="*"
        preCondition="integratedMode"
        path="Telerik.Web.UI.WebResource.axd"
        type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>

  <location allowOverride="true">
    <appSettings configSource="App_data\appSetting.xml" />
  </location>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="IHF.ApplicationLayer.Web.Pages.Packing.DataLoaders.DataLoaderAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="IHF.ApplicationLayer.Web.Pages.Packing.DataLoaders.DataLoader">
        <endpoint address="" behaviorConfiguration="IHF.ApplicationLayer.Web.Pages.Packing.DataLoaders.DataLoaderAspNetAjaxBehavior"
          binding="webHttpBinding" contract="IHF.ApplicationLayer.Web.Pages.Packing.DataLoaders.DataLoader" />
      </service>

    </services>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPrintService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tsdcpri-tst02:8008/PrintService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrintService"
        contract="PrintServiceReference.IPrintService" name="BasicHttpBinding_IPrintService"/>
    </client>-->
  </system.serviceModel>
</configuration>